.rgconsole .gp {
   color: #26a269;
}

.rgconsole .go {
   color: white;
}

.rgconsole .o {
    color: white;
}

.rgconsole .nb {
    color: violet;
}
.rgconsole .nv {
    color: lightblue;
}

.rgconsole pre > code {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.rgsmall {
    font-size: small;
}

.rgimage {
    display: flex;
    margin: auto;
}
